<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail Project</title>
    <!-- <link rel="stylesheet" href="detail-project.css"> -->
    <link rel="stylesheet" href="/public/newdetailproject.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand me-5" href="/home">
              <image src="/public/assets/logo.png"/>
          </a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link home" href="/home" >Home</a>
              </li>
              <li class="nav-item ms-3">
                <a class="nav-link active addProject" aria-current="page" href="/add-project" style="color:#4c4c98;">Add My Project</a>
              </li>
            </ul>
            <form class="d-flex header-right justify-content-end">
                <a class="nav-link" href="/contact-me">Contact Me</a>
            </form>
          </div>
        </div>
    </nav>

    <!-- Main -->
    <div class="container-fluid d-flex flex-row justify-content-center main" >
        <div class="container main-cont">
            <div class="greet-content text-center my-5">
                <h2 class="fw-bold">Dumbways App - 2021</h2>
            </div>
            <div class="my-4 row">
                <div class="container d-flex">
                    <div class="pict col-7">
                        <image class ="img-fluid mx-auto d-block"src="/public/assets/banner.jpg"/>
                    </div>
                    <div class="container ms-4 col-5">
                        <div class="greet-content">
                            <h3 class="fw-bold">Duration</h3>
                        </div>
                        <div class="">
                            <div class="d-flex align-items-center">
                                <i class="far fa-calendar-alt fs-4 me-3"></i><p class="fs-4 mt-2" id="date">12 Jan 2022 - 11 Feb 2022</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <i class="far fa-clock fs-4 me-3"></i><p class="fs-4 mt-2" id="duration">Durasi</p>
                            </div>
                        
                        <!-- <div class=""> -->
                            <h3 class="fw-bold">Technologies</h3>
                            <div class="row row-cols-2">
                                <div class="col">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-node-js fa-2x me-3"></i><p class="fs-4 mt-2" id="duration">Durasi</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-react fa-2x me-3"></i><p class="fs-4 mt-2" id="duration">Durasi</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-js-square fa-2x me-3"></i><p class="fs-4 mt-2" id="duration">Durasi</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center">
                                        <i class="fab fa-js-square fa-2x me-3"></i><p class="fs-4 mt-2" id="duration">Durasi</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                    </div>
                </div>
            </div>

            <div class="text-break detail-bottom">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta commodo velit, ac vestibulum lectus consequat quis. Aliquam vitae leo turpis. Nulla congue varius mi. Suspendisse potenti. Quisque euismod efficitur tristique. In nec hendrerit nibh, in vestibulum tortor. Nullam euismod venenatis neque ac aliquam. Sed risus nulla, pretium vestibulum mattis ut, faucibus ut lacus. Aenean sit amet suscipit nibh, a suscipit velit. Aenean ac nunc tortor.
                    Nunc eget consectetur sapien, ut scelerisque arcu. Duis aliquam turpis enim, non malesuada enim lacinia quis. Quisque porttitor bibendum consequat. In ac tincidunt ligula, in ultrices metus. Aliquam et augue ut ligula suscipit lobortis. Integer et porttitor risus. Aliquam interdum, velit eu interdum vulputate, enim lacus consectetur augue, id tempor dolor lorem malesuada felis. Nunc sed augue ut nulla sagittis pretium. Nunc molestie orci id tempor pellentesque. Pellentesque aliquam lorem in metus ornare, sed laoreet augue ullamcorper. Nullam eget imperdiet ante.
                    Aenean enim urna, eleifend quis diam a, aliquet sagittis lectus. Donec ac nisi eu sem pharetra hendrerit. Phasellus sed tortor nisl. Nullam dapibus libero id fermentum commodo. Duis eu tortor elementum, tincidunt elit et, dignissim eros. Cras non eleifend arcu. Vestibulum laoreet risus nisi, id suscipit arcu consequat vitae.
                    Donec eu ante id ipsum sollicitudin dignissim ut sit amet dolor. Vivamus et nisi et nibh hendrerit tincidunt sed sit amet magna. Nulla nec est dolor. Mauris laoreet mauris dui, ac pellentesque leo rhoncus at. Nullam quis diam placerat, pellentesque neque in, aliquet massa. Vestibulum non arcu vestibulum, sagittis ante non, viverra purus. Etiam dignissim erat sit amet arcu tincidunt ultricies. Nulla sit amet odio egestas massa tristique facilisis. Integer venenatis nisi mi, eu tristique magna pulvinar id. Duis id erat ligula. Nulla facilisi. Etiam laoreet molestie risus, ut porttitor erat commodo sed. Nam vitae tellus sed leo interdum sollicitudin.
                    Aliquam aliquet consectetur massa, eu sodales tortor interdum a. Morbi quis lacus vel magna fringilla facilisis. Nulla vitae quam et orci feugiat semper. Praesent commodo bibendum purus sed suscipit. Sed bibendum, metus ullamcorper faucibus suscipit, turpis eros fermentum nisl, id suscipit purus dolor eu eros. Nulla et aliquet velit, in efficitur justo. Nunc vel erat mollis, pulvinar turpis quis, vehicula lorem.</p>
            </div>
        </div>
    </div>
</body>
</html>